
#mainblock{
    position: sticky;
    top: 20%;
    left: 18%;
    width: 75%;
    height: fit-content;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     margin-top: 100px;
    margin: auto;
    left: 20%;
    width: 80%;
}
.newdiv{
    margin-top: 25px;
    margin: 0 25px;
    display: inline-block;
    width: 60px;
    height: 140px;
}
.foundimgs{
    height: 50px;
    width: 50px;
}
.expanded{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    height: 250px;
    width: 250px;

}
.expandedimg{
    height: 100px;
    width: 100px;
}
.downloadbtn{
    border: none;
    background-color: azure;
    height: 18px;
    width: 18px;
    margin-top: 5px;
    margin-right: 10px;
}
.copybtn{
    border: none;
    background-color: azure;
    height: 18px;
    width: 18px;
    margin-top: 5px;
}

#notificationcopied{
    font-family: 'combo' , cursive;
    background-color: rgb(6, 214, 145);
    text-align: center;
    padding-top: 10px;
    font-size:larger;
    height: 45px;
    margin-left:16% ;
    margin-top: 12%;
}
.title {
	display: flex;
	justify-content: center;
	color: #9440f5;
	font-family: Poppins;
	user-select: none;
	text-shadow: 3px 3px black;
}

.title-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.spinner {
	display: flex;
	justify-content: center;
}

svg {
	width: 50%;
	max-width: 10rem;
	animation: rotate 3.6s linear infinite;
}

circle {
	fill: none;
	stroke: #9440f5;
	stroke-width: 8px;
	stroke-dasharray: 300;
	animation: outline 2s cubic-bezier(0.77, 0, 0.18, 1) infinite;
}

@keyframes outline {
	0% {
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dashoffset: 300;
	}
	100% {
		stroke-dashoffset: 600;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(-1turn);
	}
}
