<div class="container" id="container">
    <div class="input-group mb-3" id="mainblock">
        <input type="search" class="form-control" id="inputlink" placeholder="https://www.example.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="mainbtn">Submit</button>
        </div>
    </div>

    <div id="notificationcopied" style="display: none;">Copied!</div>
    <div class="title-container" style="display: none;">
      <div class="spinner">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="46" />
        </svg>
      </div>
      <h1 class="title">loading...</h1>
    </div>
    <div class="images" id="images">

    </div>
</div>