<div class="title">
  Split Image
</div>
<div class="options-title">
  Click the button to <b> split </b>image :
</div>
<div class="description">
  <span>Select the number of <b>columns</b> and <b>rows</b> to crop
    the image:</span>
</div>
<div class="options-title">
  Rows:
</div>
<div class="buttons-box">
  <div class="row-col-show" data-value="{{page.rows | default: 3}}" id="rows-number">
    {{page.rows | default: 3 }}
  </div>
  <div class="action-buttons" data-type="row-minus">
    <img src="/img/minus.svg" alt="" data-type="row-minus">
  </div>
  <div class="action-buttons" data-type="row-plus">
    <img src="/img/plus.svg" alt="" data-type="row-plus">

  </div>
</div>
<div class="options-title mt-2">
  Columns:
</div>
<div class="buttons-box">
  <div class="row-col-show" data-value="{{page.columns | default: 3}}" id="cols-number">
    {{page.columns | default: 3}}
  </div>
  <div class="action-buttons" data-type="col-minus">
    <img src="/img/minus.svg" data-type="col-minus" alt="">
  </div>
  <div class="action-buttons" data-type="col-plus">
    <img src="/img/plus.svg" data-type="col-plus" alt="">
  </div>
</div>
<div class="{%- if page.tool == 'split'  -%}
          options-title mt-2 d-none
          {%- else -%}
          options-title mt-2 
          {%- endif -%} ">
  Choose rows x columns:
  {%- for item in page.combinations -%}

  <label class="radio-label">
    <input type="radio" class="orientation" name="orientation" data-value="{{item}}" value="transparent"
      id="input-check-vertical" {%- if forloop.first -%} checked {%- endif -%} />
    <span class="checkmark"></span>
    <span class="label-span">{{item}}</span>
  </label>
  {%- endfor -%}
</div>
<input class="d-none" onchange="fileOnChange()" type="file" id="file" accept=".webp,.png,.jpg,.jpeg,.gif" />